body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  background: white;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.logo {
  width: 100px;
  height: 90px;
  padding-left: 30px;
}

.nav-itemList > ul {
  list-style-type: none;
  display: flex;
  padding-right: 30px;
  padding-top: 35px;
}

.nav-itemList > ul > li {
  padding: 0 10px;
  font-size: 19px;
  font-weight: bold;
  color: black;
}

a {
  font-size: 19px;
  font-weight: bold;
  color: black;
  margin-right: 15px;
  text-decoration: none;
}

.restaurantCard {
  width: 250px;
  padding: 10px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
  font-weight: normal;
}

.restaurantCard:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.restaurantCard > img {
  width: 100%;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards {
  display: flex;
  flex-flow: wrap;
  padding: 0 50px;
}

.searchBar {
  margin-top: 80px;
  margin-left: 35%;
  justify-content: center;
}

.searchBar > input {
  border-radius: 20px;
  height: 25px;
  width: 250px;
  margin-top: 35px;
  margin-left: auto;
}

.searchBar > button {
  width: 60px;
  height: 25px;
  border-radius: 20px;
  margin-left: 12px;
}

.restaurantListBody {
  padding-top: 60px;
}

.cards {
  padding-top: 6%;
}

.shimmer-cards {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  padding: 0 50px;
  padding-top: 15%;
}

.skeletonCard {
  width: 280px;
  padding: 10px;
  margin: 20px;
  height: 260px;
  background-color: #f0f0f0;
  justify-content: space-between;
}

.imageBox {
  width: 100%;
  height: 150px;
  background-color: #d8d8d8;
  justify-content: center;
}

.heading {
  width: 70%;
  height: 15px;
  background-color: #d8d8d8;
}

.shimmer-wrapper {
  position: relative;
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #f4f4f4 50%,
    transparent 100%
  );
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.notFound {
  color: orange;
}

.logIn {
  border-radius: 20px;
  background-color: orange;
}
.logOut {
  border-radius: 20px;
  background-color: orange;
}

.about {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.about > h1,
h2 {
  color: orange;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.errorPage > h1,
h2 {
  color: orange;
  text-align: center;
  font-family: "Lato", sans-serif;
}

p {
  margin-top: 40px;
  color: orange;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
}
.errorPage {
  margin-top: 150px;
}
.errorPage > img {
  width: 200px;
  height: 200px;
  margin-left: 46%;
}

.restaurantDetails {
  margin-top: 130px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.name-details {
  width: 26%;
  padding: 10px;
  height: 400px;
}

.name-details > img {
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Menu {
  width: 60%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: medium;
}
.Menu > h2 {
  text-align: center;
  color: black;
}
.firstMenu > h4 {
  text-decoration: underline;
  margin-left: 40px;
  margin-right: 40px;
}

.recommended {
  margin-left: 40px;
  margin-right: 40px;
}

.recommended > hr {
  opacity: 54%;
}

.menuWithPrice {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.2;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  width: 70%;
}

.itemImage > img {
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.itemImage > button {
  border-radius: 5px;
  background-color: orange;
  color: #f0f0f0;
  border: orange;
  display: block;
  margin: auto;
}

.offlineText {
  margin-top: 150px;
  color: orange;
  text-align: center;
}
